body {
background-image: url("./images/graf.jpg");
background-repeat: repeat-y;
}

.nav {
	background-color: #470d43;
	padding: 20px;
}

a {
	color: white;
	font-size: 28px;
	font-family: 'Syncopate', sans-serif;
	font-weight: bold;
	text-align: justify;
}

h1 {
	font-weight: bold;
	text-align: center;
}

p {
	text-align: center;
}

.jumbotron {
	background-image: url("./images/skulls.jpg");
}

img { 
   border:10px solid white;
   height: 220px;
   width: 220px;
}

.container-fluid {
    padding-right: 200px;
    padding-left: 200px;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
    position: relative;
 
}